@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>预约反馈管理</h5>
            </div>
            <input type="hidden" id="evalid" name="evalid" value="">
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-1 search-title">
                                <label class="search-title-label">
                                    筛选条件：
                                </label>
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="username" name="学员名称" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="coachname" name="教练名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="CoachReservation.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="CoachReservationTableToolbar" role="group">
                            @if(shiro.hasPermission("/coachReservation/add")){
                            	<!--  
                                <#button name="添加" icon="fa-plus" clickFun="CoachReservation.openAddCoachReservation()"/>
                                -->
                            @}
                            @if(shiro.hasPermission("/coachReservation/update")){
                            	<!--  
                                <#button name="修改" icon="fa-edit" clickFun="CoachReservation.openCoachReservationDetail()" space="true"/>
                                -->
                            @}
                            @if(shiro.hasPermission("/coachReservation/delete")){
                            	<!--  
                                <#button name="删除" icon="fa-remove" clickFun="CoachReservation.delete()" space="true"/>
                                -->
                            @}
                            @if(shiro.hasPermission("/coachReservation/evaluate_info")){
                             <#button name="反馈详情" icon="fa-remove" clickFun="CoachReservation.evaluateInfo()" space="true"/>
                            @}
                        </div>
                        <#table id="CoachReservationTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/biz/coachReservation/coachReservation.js"></script>
@}
