@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>订单详情</h5>
            </div>
            <div class="ibox-content">
                <input type="hidden" id="orderId" value="${item.id}">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <#table id="ProdOrdersDtlTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/biz/prodOrders/prodOrders_dtl.js"></script>
@}
