@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="id" underline="false"/>
                            <#input id="userId" name="用户id" underline="false"/>
                            <#input id="ruleId" name="规则id" underline="false"/>
                            <#input id="couponName" name="优惠券名称" underline="false"/>
                            <#select id="extendMode" name="发放方式" underline="false">
                                <option value="">请选择</option>
	                            <option value="product">商城消费赠送</option>
	                            <option value="coach">预约教练赠送</option>
	                            <option value="course">课程报名赠送</option>
                            </#select>
                            
                            
                            <#input id="useMode" name="使用方式" underline="false"/>
                            <#select id="useMode" name="发放方式" underline="false">
                                <option value="">请选择</option>
	                            <option value="all">通用</option>
	                            <option value="product">商城消费</option>
	                            <option value="coach">预约教练</option>
	                            <option value="course">课程报名</option>
                            </#select>
                            
                            
                            <#input id="ecCode" name="电子券代码" underline="false"/>
                            <#input id="faceValue" name="面额"/>
                </div>

                <div class="col-sm-6">
                            <#input id="ifUsed" name="是否使用" underline="false"/>
                            <#input id="ifExpired" name="是否过期" underline="false"/>
                            <#input id="validBeginDate" name="使用开始日期" underline="false"/>
                            <#input id="validEndDate" name="使用结束日期" underline="false"/>
                            <#input id="validMinVal" name="使用的最低消费金额" underline="false"/>
                            <#input id="useTime" name="使用时间" underline="false"/>
                            <#input id="remarks" name="备注" underline="false"/>
                            <#input id="createtime" name="创建时间" underline="false"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-12 col-sm-offset-5">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CouponListInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CouponListInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/biz/couponList/couponList_info.js"></script>
@}
