@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>课程报名管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-1 search-title">
                                <label class="search-title-label">
                                    筛选条件：
                                </label>
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="condition" name="学员名称" />
                            </div>
                            
                            <div class="col-sm-2">
                                <#NameCon id="courseName" name="课程名称" />
                            </div>
                            
                            <div class="col-sm-2">
                                <#NameCon id="className" name="班级名称" />
                            </div>
                            
                            <div class="col-sm-2">  
                                <#SelectCon id="SelExtendMode" name="课程分类" hidden="courseCatId">
                                    <option value="">全部</option>
                                    @for(cat in catlist){
                                    <option value="${cat.id}">${cat.name}</option>
                                    @}
                                </#SelectCon>
                            </div>
                            <div class="col-sm-2">
                                <#SelectCon id="ifDivided" name="是否分成">
                                    <option value="">全部</option>
                                    <option value="T">是</option>
                                    <option value="F">否</option>
                                </#SelectCon>
                            </div>
                            <div class="col-sm-1">
                                <#button name="搜索" icon="fa-search" clickFun="CourseOrder.search()"/>
                                <#button name="重置" icon="" clickFun="CourseOrder.txtReset()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="CourseOrderTableToolbar" role="group">
                            @if(shiro.hasPermission("/courseOrder/update")){
                                <#button name="调整上课时间" icon="fa-edit" clickFun="CourseOrder.openCourseOrderDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/courseOrder/signer")){
                                <#button name="签到" icon="fa-remove" clickFun="CourseOrder.signer()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/courseOrder/divided")){
                                <#button name="分成" id="divided-btn" icon="fa-credit-card" clickFun="CourseOrder.divided()" space="true"/>
                            @}
                        </div>
                        <#table id="CourseOrderTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/biz/courseOrder/courseOrder.js"></script>
@}
