@layout("/common/_container.html"){

<div class="wrapper wrapper-content" style="padding: 20px;">
	<div class="row">
		<div class="col-sm-4">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<!--<span class="label label-success pull-right">月</span>-->
					<div class="pull-right">
						<div class="btn-group">
							<button type="button" onclick="loadTotalMoney('day',this)" class="btn btn-xs btn-white">日</button>
							<button type="button" onclick="loadTotalMoney('month',this)" class="btn btn-xs btn-white">月</button>
							<button type="button" onclick="loadTotalMoney('year',this)" class="btn btn-xs btn-white">年</button>
							<button type="button" onclick="loadTotalMoney('',this)" class="btn btn-xs btn-success active">全部</button>
						</div>
					</div>

					<h5 id="moneyTitle">总收入</h5>
				</div>
				<div class="ibox-content">
					<h1 class="no-margins" id="totalMoney">0</h1>
					<div class="stat-percent font-bold text-info" id="totalMoneyChange">100% <i class="fa fa-level-up"></i>
					</div>
					<small>总收入</small>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<!--<span class="label label-info pull-right">全年</span>-->
					<div class="pull-right">
						<div class="btn-group">
							<button type="button" onclick="loadTotalNumber('day',this)" class="btn btn-xs btn-white">日</button>
							<button type="button" onclick="loadTotalNumber('month',this)" class="btn btn-xs btn-white">月</button>
							<button type="button" onclick="loadTotalNumber('year',this)" class="btn btn-xs btn-white">年</button>
							<button type="button" onclick="loadTotalNumber('',this)" class="btn btn-xs btn-success active">全部</button>
						</div>
					</div>
					<h5 id="orderTitle">总订单</h5>
				</div>
				<div class="ibox-content">
					<h1 class="no-margins" id="totalNumber">0</h1>
					<div class="stat-percent font-bold text-info" id="totalNumberChange">100% <i class="fa fa-level-up"></i>
					</div>
					<small>订单数量</small>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<!--<span class="label label-primary pull-right">今日</span>-->
					<div class="pull-right">
						<div class="btn-group">
							<button type="button" onclick="loadUserTotalCount('day',this)" class="btn btn-xs btn-white">日</button>
							<button type="button" onclick="loadUserTotalCount('month',this)" class="btn btn-xs btn-white">月</button>
							<button type="button" onclick="loadUserTotalCount('year',this)" class="btn btn-xs btn-white">年</button>
							<button type="button" onclick="loadUserTotalCount('',this)" class="btn btn-xs btn-success active">全部</button>
						</div>
					</div>
					<h5 id="userTitle">总用户</h5>
				</div>
				<div class="ibox-content">
					<h1 class="no-margins" id="userTotalCount">0</h1>
					<div class="stat-percent font-bold text-info" id="userTotalCountChange">100% <i class="fa fa-level-up"></i>
					</div>
					<small>新用户</small>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>收入</h5>
					<div class="pull-right">
						<div class="btn-group">
							<button type="button" onclick="createChart('day',this)" class="btn btn-xs btn-success active">日</button>
							<button type="button" onclick="createChart('month',this)" class="btn btn-xs btn-white">月</button>
						</div>
					</div>
				</div>
				<div class="ibox-content">
					<div class="row">
						<div class="col-sm-12">
							<div class="flot-chart-content" style="height: 400px;" id="container"></div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	@if(shiro.hasPermission("/blackboard/bing")){
		<div class="row">
			<div class="col-sm-6">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>收入</h5>
					</div>
					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<div class="flot-chart-content" style="height: 300px;" id="moneyCake"></div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-sm-6">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>订单数量</h5>
					</div>
					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<div class="flot-chart-content" style="height: 300px;" id="orderCake"></div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	@}
</div>

<script src="${ctxPath}/static/js/plugins/echarts/echarts-all.js"></script>
<script src="${ctxPath}/static/modular/blackboard.js"></script>
@}
