@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>教练学员关系查询</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-1 search-title">
                                <label class="search-title-label">
                                    筛选条件：
                                </label>
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="coachname" name="教练名称" />
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="username" name="学员名称" />
                            </div>
                            <div class="col-sm-2">
                                <#button name="搜索" icon="fa-search" clickFun="CoachAndStudentRelation.search()"/>
                            </div>
                        </div>
                        <#table id="CoachAndStudentRelationTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/biz/comperQuery/coachAndStudentRelation.js"></script>
@}
