<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.labi.modular.biz.dao.ProdOrdersDtlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.labi.modular.biz.model.ProdOrdersDtl">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="prod_sku_id" property="prodSkuId" />
        <result column="prod_id" property="prodId" />
        <result column="prod_name" property="prodName" />
        <result column="prod_sale_price" property="prodSalePrice" />
        <result column="prod_thumb_img" property="prodThumbImg" />
        <result column="buy_num" property="buyNum" />
        <result column="prod_attr_info" property="prodAttrInfo" />
        <result column="remarks" property="remarks" />
        <result column="createtime" property="createtime" />
        <result column="oprtime" property="oprtime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id AS orderId, prod_sku_id AS prodSkuId, prod_id AS prodId, prod_name AS prodName, prod_sale_price AS prodSalePrice, prod_thumb_img AS prodThumbImg, buy_num AS buyNum, prod_attr_info AS prodAttrInfo, remarks, createtime, oprtime
    </sql>

</mapper>
